{% extends "base.html" %}


{% load static %}

{% block titulo %}
Tienda 
{% endblock titulo %}

{% block styles %}
 
<link href="{% static 'tienda/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block contenido %}
<div class="container">
    <div style="float: right; ;">



        <div class="alert alert-danger text-center " style="margin:5px; ">
            Carrito
            Debes Iniciar Sesion 
        </div> 
        <div style="float: right; ;" >

            <p class="text-center formatos">Formatos</p>
            <div class="d-flex flex-column   align-items-center ">
                {% for cat in formatos %}   
                <button type="button" class="btn  btn-outline-dark text-center bg-white">
                    <a href="{% url 'formato' cat.id  %}" class="nav-link">{{ cat.nombre }} </a>
                    </button>
                {% endfor %}


                <button type="button" class="btn btn-outline-dark text-center bg-white"> 
                    <a href="{% url 'Tienda'  %}" class="nav-link">Limpiar filtros</a>
                </button>
            </div>
        </div>  
     
    </div>
    <div class="column">

    {% for disco in discos %}

    <div class="col-md-9 "> 
        <div class="d-flex my-5 " style="width: 100%; margin: 5px 5px; height:160px; ">
            <div class="mx-5">
                {% if disco.imagen %}
                <img src="{{disco.imagen.url}}" class="rounded" width="160" height="160" alt="">
                {% endif %}

            </div>

            <div class="column ">
                <h5 class="card-title" >{{disco.nombre}}</h5>
                <div class="d-flex w-100">
                    <div class="w-100" style="min-width:400px;"">
                        <p class="card-text">{{disco.artista}}</p>
                        <p class="card-text">{{disco.formatos}}</p>
                        <p class="card-text">$&nbsp;{{disco.precio}}</p>
                    </div>
                    <div class="column">
                        <div>
                            <p class="card-text">Stock:&nbsp; {{disco.stock}}</p>
                            <p class="card-text">Vendidos:&nbsp;{{disco.vendidos}}</p>
                        </div>
                        <div class="card-footer text-end">
                            <a href="#" class="btn btn-success mt-2">Agregar</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div> 





    {% endfor %}
    </div>
</div>
{% endblock %}

  
