{% extends "base.html" %}
{% load static %}



{% block titulo %}
Registrarse 
{% endblock titulo %}

{% block styles %}

<link href="{% static 'auth/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}


{% block contenido %}

<section class=" my-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form action="/registro/" method="POST" style="width: 23rem;">
              {% csrf_token %}
              <h3 class="fw-normal mb-3 pb-3 letranegra" style="letter-spacing: 1px;">Registrarse</h3>

              <div class="form-outline mb-4">
                <input type="username" id="form2Example18" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example18">Nombre de usuario</label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="form2Example18" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example18">Email address</label>
              </div>

              
  
              <div class="form-outline mb-4">
                <input type="password" id="form2Example28" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example28">Password</label>
              </div>
  
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="submit">Registrarse</button>
              </div>
  
            </form>
             
              <p>Ya tienes una cuenta? <a href="{% url 'Login' %}" class="link-info">Inicia sesion aqui</a></p>
  
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block ">
          <img src="{% static 'auth/img/logo.png' %}"
            alt="Register image" class="w-100 h-50 rounded-circle mt-5">
        </div>
      </div>
    </div>
  </section>

  {% if messages %}  
  <ul>   
      {% for message in messages %}  
          <li>{{ message }}</li>  
          {% endfor %}  
  </ul>   
{% endif %}  
  <form method="POST" action="/registro/">  
    {% csrf_token %}  
    <table>  
       {{ form.as_table }}  
        <tr>  
           <td></td>  
           <td><input type="submit" name="submit" value="Register" /></td>  
       </tr>  
    </table>  
</form>  
</div>  

{% endblock contenido %}


